<div style="margin-top:8px;">
  <div style="background-color:#fff;">
    <ion-segment id="plugin-proxy" [(ngModel)]="pet">
      <ion-segment-button value="item1">
        待办事项1
      </ion-segment-button>
      <ion-segment-button value="item2">
        待办事项2
      </ion-segment-button>
      <ion-segment-button value="item3">
        待办事项3
      </ion-segment-button>
      <ion-segment-button value="item4">
        待办事项4
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'item1'">
      <ion-item>
        请假申请 XXXX的请假申请
      </ion-item>
      <ion-item>
        <div style="margin: 15px 0;white-space: normal;word-wrap: break-word;word-break: break-all;color:#777;line-height: 28px;letter-spacing: 1px;">
          <img src="./assets/images/map_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;"> 
          辽宁省沈阳市铁西区新华南街XX号XXXXX大厦A座XXX楼 沈阳普日软件
        </div>
        <div style="margin: 7px 0;color:#777;">
          <img src="./assets/images/time_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;">
          2018-01-29 17:30:00
        </div>
      </ion-item>
      <ion-item item-end>
        <button ion-button small color="primary" (click)="doHandle()" round style="float: right; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);">{{'HANDLE' | translate}}</button>
        <button ion-button small round style="float: right; background: #fac305; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);margin-right:10px;">{{'GOBACK' | translate}}</button>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'item2'">
      <ion-item>
        会议申请
      </ion-item>
      <ion-item>
        <div style="margin: 15px 0;white-space: normal;word-wrap: break-word;word-break: break-all;color:#777;line-height: 28px;letter-spacing: 1px;">
          <img src="./assets/images/map_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;"> 
          辽宁省沈阳市铁西区新华南街XX号XXXXX大厦
        </div>
        <div style="margin: 7px 0;color:#777;">
          <img src="./assets/images/time_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;">
          2018-01-29 17:30:00
        </div>
      </ion-item>
      <ion-item item-end>
        <button ion-button small color="primary" (click)="doHandle()" round style="float: right; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);">{{'HANDLE' | translate}}</button>
        <button ion-button small round style="float: right; background: #fac305; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);margin-right:10px;">{{'GOBACK' | translate}}</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'item3'">
      <ion-item>
        公文申请
      </ion-item>
      <ion-item>
        <div style="margin: 15px 0;white-space: normal;word-wrap: break-word;word-break: break-all;color:#777;line-height: 28px;letter-spacing: 1px;">
          <img src="./assets/images/map_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;"> 
          辽宁省沈阳市铁西区新华南街XX号XXXXX大厦A座XXX楼 沈阳普日软件
        </div>
        <div style="margin: 7px 0;color:#777;">
          <img src="./assets/images/time_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;">
          2018-01-29 17:30:00
        </div>
      </ion-item>
      <ion-item item-end>
        <button ion-button small color="primary" (click)="doHandle()" round style="float: right; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);">{{'HANDLE' | translate}}</button>
        <button ion-button small round style="float: right; background: #fac305; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);margin-right:10px;">{{'GOBACK' | translate}}</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'item4'">
      <ion-item>
        请假申请
      </ion-item>
      <ion-item>
        <div style="margin: 15px 0;white-space: normal;word-wrap: break-word;word-break: break-all;color:#777;line-height: 28px;letter-spacing: 1px;">
          <img src="./assets/images/map_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;"> 
          辽宁省沈阳市铁西区新华南街XX号XXXXX大厦A座XXX楼 沈阳普日软件
        </div>
        <div style="margin: 7px 0;color:#777;">
          <img src="./assets/images/time_3x.png" style="width:20px;height:20px;vertical-align: text-bottom;">
          2018-01-29 17:30:00
        </div>
      </ion-item>
      <ion-item item-end>
        <button ion-button small color="primary" (click)="doHandle()" round style="float: right; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);">{{'HANDLE' | translate}}</button>
        <button ion-button small round style="float: right; background: #fac305; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);margin-right:10px;">{{'GOBACK' | translate}}</button>
      </ion-item>
    </ion-list>
  </div>
</div>