<!-- 工作联系单 -->
<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title id="e2e-todoopinion-title">{{'APPROVAL_OPINION' | translate}}</ion-title>
    <ion-buttons end>
      <button id="e2e-submit-button" ion-button clear color="primary" (click)="submitOpinion()">
        {{'SUBMIT' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <!-- 选项 -->
  <ion-list radio-group [(ngModel)]="handleStatus" *ngIf="handleResult == '1'">
    <ion-item>
      <ion-label>{{'HANDLE_STATE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'FEED_BACK' | translate}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{'HANDLE_TOGETHER' | translate}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list radio-group [(ngModel)]="handleResult">
    <ion-item>
      <ion-label>{{'HANDLE_RESULT' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'COMPLETE' | translate}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{'NOT_COMPLETE' | translate}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list class="list-margrin-top" *ngIf="handleStatus == '1' || handleResult == '2'">
    <ion-item>
      <ion-label>{{'HANDLE_SITUATION' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" placeholder="{{'PLEASE_ENTER_APPROVAL_OPINION' | translate}}" [(ngModel)]="handleSituation"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list class="list-margrin-top" *ngIf="handleStatus == '2' && handleResult == '1'">
    <ion-item [ngStyle]="{'border-top': '1px solid #dedede'}">
      {{'HANDLE_DEPT' | translate}}
      <button item-end ion-button clear class="add-btn" (click)="addListRow()">
        <ion-icon name="add-circle"></ion-icon>
        <span class="add-btn-content">{{'ADD' | translate}}</span>
      </button>
    </ion-item>
    <div *ngFor="let item of handleOpinion;let iList = index">
        <ion-item *ngIf="iList != 0" [ngStyle]="{'border-top': '1px solid #dedede'}">
            {{'HANDLE_DEPT' | translate}}
        </ion-item>
        <ion-item>
            <ion-label>{{item.deptLabel}}</ion-label>
            <ion-input
              class="searchbox-name"
              type="text"
              placeholder="{{'PLEASE_SELECT' | translate}}"
              tappable
              (click)="deptSearchboxSelect(item)"
              [(ngModel)]="item['deptName']"
              disabled="true">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{item.personLabel}}</ion-label>
            <ion-input
              class="searchbox-name"
              type="text"
              placeholder="{{'PLEASE_SELECT' | translate}}"
              tappable
              (click)="personSearchboxSelect(item)"
              [(ngModel)]="item['personName']"
              disabled="true">
            </ion-input>
        </ion-item>
        <ion-item *ngIf="iList != 0">
            {{'CONTROL' | translate}}
            <button ion-button color="danger" small item-end (click)="deleteListRow(iList)">
              {{'DELETE' | translate}}
            </button>
        </ion-item>
    </div>
    <ion-item>
      <ion-label>{{'HANDLE_TOGETHER_OPINION' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" placeholder="{{'PLEASE_ENTER_APPROVAL_OPINION' | translate}}" [(ngModel)]="joinComments"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
