<ion-header>
  <ion-navbar>
    <ion-title>{{'APPLY_AND_NOTIFICATION' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-gray">
  <ion-list class="icmp-list-top-margin">
    <ion-item-sliding *ngFor="let user of applyList">
      <button ion-item>
        <ion-avatar item-left>
          <img *ngIf="!user.headImage" [src]="setWordHeadImage(user)">
          <img *ngIf="user.headImage" [src]=user.headImage (error)="setWordHeadImage(user)">
        </ion-avatar>
        <h2>{{user.nickId}}</h2>
        <button *ngIf="user.state.code == 1" mode="md" ion-button clear item-end (click)="agreeApply(user)">{{'AGREE' | translate}}</button>
        <span item-end *ngIf="user.state.code == 1">|</span>
        <button *ngIf="user.state.code == 1" mode="md" ion-button clear item-end color="danger" (click)="refuseApply(user)">{{'REFUSE' | translate}}</button>
        <button *ngIf="user.state.code == 2" mode="md" ion-button clear item-end color="dark">{{'AGREED' | translate}}</button>
        <button *ngIf="user.state.code == 3" mode="md" ion-button clear item-end color="dark">{{'REFUSED' | translate}}</button>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteApply(user)">{{'DELETE' | translate}}</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>