feed-subTitle{
  .navbox {
    position: relative;
    width: 100%;
    // height: 44px;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 15px;
    background: #fff;
    &::before {
      position: absolute;
      top: 15px;
      display: inline-block;
      content: '';
      width: 3px;
      height: 14px;
      background: #0079fa;
    }
    .navtitle {
      margin-left: 10px;
    }
  }
  .pink {
    &::before {
      background: #fc308b;
    }
  }
}