<ion-header>
  <ion-navbar>
    <ion-title>{{'FEEDLIST' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce class="feedlist-content">
  <div class="contentbox">
    <div class="menutitlebox">
      <feed-subTitle title="问题分类"></feed-subTitle>
    </div>
    <div class="main-menus">
      <div *ngFor="let menu of menus" class="main-menu" (click)="todetaillist(menu)">
        <div class="home-icon-div">
          <img [src]="menu.icon">
        </div>
        <div class="menu-title">{{menu.name}}</div>
      </div>
    </div>
    <div class="listtitlebox">
        <feed-subTitle title="热门问题"></feed-subTitle>
    </div>
    <div class="listbox">
      <div class="new" *ngFor="let new of news" (click)="todetail(new)">{{new.name}}</div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="feedbtn">
    <feed-btn></feed-btn>
  </div>
</ion-footer>