<ion-header>
  <ion-navbar>
    <ion-title>{{'NEWS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new">
  <ion-searchbar [formControl]="titleFilter" placeholder="{{'SEARCH' | translate}}">
  </ion-searchbar>
  <ion-list class="icmp-list-bottom-margin">
    <ion-item-sliding *ngFor="let user of chatList | searchFilter: 'toChatNickName': keyword">
      <button ion-item detail-none (click)="chatToUserOrGroup(user)">
        <ion-avatar item-start class="main-item">
          <img *ngIf="!user.headImage" [src]="setWordHeadImage(user)">
          <img *ngIf="user.headImage" [src]=user.headImage (error)="setWordHeadImage(user)">
        </ion-avatar>
        <span class="item-superscript-area">
          <span class="item-superscript" *ngIf="user.unreadMessagesCount != null && user.unreadMessagesCount != 0">{{user.unreadMessagesCount}}</span>
        </span>
        <h2>{{user.toChatNickName}}</h2>
        <div class="message">
          <span class="red-message">{{user.redMessage}}</span>
          <span>{{user.lastMessage}}</span>
        </div>
        <p class="time" item-end>{{user.lastMessageTime}}</p>
      </button>
      <!-- 侧滑删除 -->
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeConversation(user)">
          {{'DELETE' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
