page-chat-list {

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: inherit;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: inherit;
  }

  .time {
    margin-top: -20px !important;
  }
}
