<ion-header>
  <ion-navbar>
    <ion-title>{{'NEWS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <ion-list class="icmp-list-bottom-margin">
    <ion-item *ngFor="let user of chatList" ion-item (click)="chatToUserOrGroup(user)">
      <ion-avatar item-start>
        <img *ngIf="!user.headImage" src="./assets/images/user.jpg">
        <img *ngIf="user.headImage" [src]=user.headImage>
      </ion-avatar>
      <h2>{{user.toChatNickName}}</h2>
      <p>{{user.lastMessage}}</p>
      <p class="time" item-end>{{user.lastMessageTime}}</p>
    </ion-item>
  </ion-list>

</ion-content>