page-query-list {
    .ion-calendar-month button.days-btn small {
        position: absolute;
        bottom: -14px;
    }
    .noline-list-item {
        margin-top: -15px !important;
        .item-small {
          min-height: 1rem;
          height: 28px;
        }
    }
    .item_right_num {
      width: 20%;
      text-align: right;
    }
    .item_right_price {
      width: 30%;
      text-align: right;
    }
    .item-line {
      border-bottom: 0.55px solid #c8c7cc !important;
    }
}
