<ion-header>
  <ion-navbar>
    <ion-title>我的考试</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment 
      *ngIf="examListType != null && examListType.length > 0"
      [(ngModel)]="selectExamListType"
      (ionChange)="examListTypeChange()">
      <ion-segment-button *ngFor="let item of examListType" value="{{item.code}}">
        {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="getExamList(selectExamListType)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="exam-list">
    <button class="exam-list-btn" ion-item *ngFor="let item of examList" (click)="goExamPage(item)">
      <p class="exam-list-p-title">{{ item.name }}</p>
      <p class="exam-list-p" *ngIf="selectExamListType === '0'">考试时间：{{item.countDown}} min</p>
      <p class="exam-list-p" *ngIf="selectExamListType === '1'">
        剩余时间：<span *ngIf="hour < 10">0</span>{{hour}}:<span *ngIf="minute < 10">0</span>{{minute}}:<span *ngIf="second < 10">0</span>{{second}}
      </p>
      <p class="exam-list-p" *ngIf="selectExamListType === '2'">交卷时间：{{item.time}}</p>
      <p class="exam-list-p" *ngIf="selectExamListType === '3'">分数：{{item.score}}</p>
      <a class="exam-list-a" *ngIf="selectExamListType === '0'">答题</a>
      <a class="exam-list-a" *ngIf="selectExamListType === '1'">继续答题</a>
      <a class="exam-list-a" *ngIf="selectExamListType === '2' || selectExamListType === '3'">查看试卷</a>
    </button>
  </ion-list>
</ion-content>