page-exam-list {
  ion-segment {
    width: 94% !important;
  }
  .toolbar-ios .segment-ios {
    left: 3% !important;
  }
  .exam-list {
    margin-top: 2px;

    .exam-list-btn {
      margin: 5px 0;
      position: relative;

      .exam-list-p {
        margin-top: 10px;
      }

      .exam-list-p-title {
        font-size: 16px;
        color: #444;
      }

      .exam-list-a {
        position: absolute;
        right: 16px;
        top: 26px;
        font-size: 14px;
      }
    }
  }
}