<ion-header>
  <ion-navbar>
    <ion-title>{{'GROUP' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-gray">

  <ion-searchbar [formControl]="titleFilter" placeholder="搜索" [showCancelButton]="shouldShowCancel">
  </ion-searchbar>

  <ion-list class="icmp-list-bottom-margin">
    <button ion-item (click)="createGroup()">
      <ion-avatar class="left-avatar" item-left>
        <img src="./assets/images/im/createGroup.png">
      </ion-avatar>
      {{'CREATE_GROUP' | translate}}
    </button>
  </ion-list>

  <ion-list class="icmp-list-bottom-margin">
    <button *ngFor="let group of allGroups | searchFilter: 'groupName': keyword" ion-item (click)="chatToGroup(group)">
      <ion-avatar item-left>
        <img *ngIf="group.headImage" [src]=group.headImage>
        <img *ngIf="!group.headImage" src="./assets/images/im/groupHeader.png">
      </ion-avatar>
      <h2>{{group.groupName}}</h2>
    </button>
  </ion-list>

</ion-content>