page-group {

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: inherit;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: inherit;
  }

  .icmp-list-bottom-margin {
    ion-avatar {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
