<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{'APPROVAL_OPINION' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="submitOpinion()">
        {{'SUBMIT' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <div *ngFor="let item of opinionOtherList" class="display-hidden">
    <div *ngIf="item.control_type == 'hidden'">
      <input type="hidden" [(ngModel)]="approvalInput[item.control_name]" />
    </div>
  </div>
  <ion-list class="opinion_other icmp-list-top-margin" *ngIf="opinionOtherList != null && opinionOtherList.length > 0">
    <div *ngFor="let item of opinionOtherList">
      <ion-item *ngIf="isDisplayFormItem(item)">
        <ion-label *ngIf="item.control_type == 'text'" fixed>{{item.control_label}}</ion-label>
        <ion-label *ngIf="item.control_type != 'text'">{{item.control_label}}</ion-label>
        <ion-input *ngIf="item.control_type == 'text'" type="text" [(ngModel)]="approvalInput[item.control_name]"></ion-input>
        <ion-datetime *ngIf="item.control_type == 'date'"  (ionCancel)="clearDatetime(item)"
                      placeholder="{{'PLEASE_SELECT_DATE' | translate}}"
                      max="2100" (touchstart)="setDatetime(item)"
                      displayFormat="{{item.control_formatter}}"
                      [(ngModel)]="approvalInput[item.control_name]"
                      cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}">
        </ion-datetime>
        <ion-select *ngIf="item.control_type == 'select'" [(ngModel)]="approvalInput[item.control_name]" cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.control_list" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
        <ion-select *ngIf="item.control_type == 'select_more'" multiple="true" [(ngModel)]="approvalInput[item.control_name]" cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.control_list" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
        <ion-input *ngIf="item.control_type == 'select_searchbox' || item.control_type == 'select_person'" class="searchbox-name" type="text" placeholder="{{'PLEASE_SELECT' | translate}}" tappable (click)="searchboxSelect(item)" [(ngModel)]="approvalInput[item.control_name + 'Name']" disabled="true"></ion-input>
        <ion-input *ngIf="item.control_type == 'select_searchbox' || item.control_type == 'select_person'" class="searchbox-value" type="text" [(ngModel)]="approvalInput[item.control_name]"></ion-input>
      </ion-item>
    </div>
  </ion-list>
  <ion-list radio-group [(ngModel)]="approvalInput.opinion">
    <ion-item *ngFor="let opinion of opinionList">
      <ion-label>{{opinion.name}}</ion-label>
      <ion-radio value="{{opinion.value}}"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" *ngIf="!hideComment" placeholder="{{'PLEASE_ENTER_APPROVAL_OPINION' | translate}}" [(ngModel)]="approvalInput.comments"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
