<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title id="e2e-todoopinion-title">{{'APPROVAL_OPINION' | translate}}</ion-title>
    <ion-buttons end>
      <button id="e2e-submit-button" ion-button clear color="primary" (click)="submitOpinion()">
        {{'SUBMIT' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <div *ngFor="let item of opinionOtherList" class="display-hidden">
    <div *ngIf="item.type == 'hidden'">
      <input type="hidden" [(ngModel)]="approvalInput[item.model]" />
    </div>
  </div>
  <ion-list class="opinion_other icmp-list-top-margin" *ngIf="opinionOtherList != null && opinionOtherList.length > 0">
    <div *ngFor="let item of opinionOtherList">
      <ion-item class="e2e-item" *ngIf="isDisplayFormItem(item)">
        <ion-label *ngIf="item.type == 'text'" fixed>{{item.label}}</ion-label>
        <ion-label *ngIf="item.type != 'text'">{{item.label}}</ion-label>
        <ion-input *ngIf="item.type == 'text'" type="text" [(ngModel)]="approvalInput[item.model]" [disabled]="item.disabled"></ion-input>
        <ion-datetime *ngIf="item.type == 'date'"  (ionCancel)="clearDatetime(item)"
                      placeholder="{{'PLEASE_SELECT_DATE' | translate}}"
                      max="2100" (touchstart)="setDatetime(item)"
                      displayFormat="{{item.format}}"
                      [(ngModel)]="approvalInput[item.model]"
                      cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}">
        </ion-datetime>
        <ion-select *ngIf="item.type == 'select' && item.category != 'multi'" [(ngModel)]="approvalInput[item.model]" (ionChange)="selectChange(item)" cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.data" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
        <ion-select *ngIf="item.type == 'select' && item.category == 'multi'" multiple="true" [(ngModel)]="approvalInput[item.model]" (ionChange)="selectChange(item)" cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.data" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
        <ion-input *ngIf="item.type == 'searchbox'" class="searchbox-name" type="text" placeholder="{{'PLEASE_SELECT' | translate}}" tappable (click)="searchboxSelect(item)" [(ngModel)]="approvalInput[item.model + '_name']" disabled="true"></ion-input>
        <ion-input *ngIf="item.type == 'searchbox'" class="searchbox-value" type="text" [(ngModel)]="approvalInput[item.model]"></ion-input>
      </ion-item>
    </div>
  </ion-list>
  <ion-list radio-group [(ngModel)]="approvalInput.opinions" (ionChange)="opinionChange()">
    <ion-item *ngFor="let opinion of opinionList">
      <ion-label>{{opinion.name}}</ion-label>
      <ion-radio value="{{opinion.value}}"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" *ngIf="!hideComment" placeholder="{{'PLEASE_ENTER_APPROVAL_OPINION' | translate}}" [(ngModel)]="approvalInput.comments"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
