<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="getInitData()">
        {{'QUERY' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray statisticsView-content">
  <ion-card *ngIf="statisticsDate.title != null || statisticsDate.template != null" class="statisticsView-illustrate">
    <ion-item *ngIf="statisticsDate.title != null" class="statisticsView-title">
      {{statisticsDate.title}}
    </ion-item>
    <div *ngFor="let item of statisticsDate.template">
      <ion-item *ngIf="item.layout == 'layout_3' && item.type == 'label'" style="display:inline-block;width:50%;float:left;">
          <ion-label fixed style="width:56px;min-width:56px;max-width:56px;white-space: normal;font-size:14px">{{item.label}}</ion-label>
          <p item-right class="text-value" style="width:54%;">{{item.default}}</p>
      </ion-item>
      <ion-item *ngIf="item.layout == 'layout_1' && item.type == 'label'">
        <ion-label>{{item.label}}</ion-label>
        <p item-right class="form_text_value">{{item.default}}</p>
      </ion-item>
      <ion-item *ngIf="item.layout == 'layout_2' && item.type == 'label' && isCustom == false">
        <h2>{{item.label}}</h2>
        <p class="textarea-value">
          <span [innerHtml]="item.default"></span>
        </p>
      </ion-item>
      <ion-item *ngIf="item.layout == 'layout_2' && item.type == 'label' && item.time == 'false' && isCustom == true">
        <h2>{{item.label}}</h2>
        <p class="textarea-value">
          <span [innerHtml]="item.default"></span>
        </p>
      </ion-item>
      <!-- 时间 -->
      <ion-item *ngIf="item.layout == 'layout_2' && item.type == 'label' && item.time == 'true' && isCustom == true">
        <ion-label>开始时间</ion-label>
        <ion-datetime placeholder="{{'PLEASE_SELECT_DATE' | translate}}" max="2100" displayFormat="YYYY-MM-D" [(ngModel)]="startDate"
          cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}" (ionCancel)="clearStartDatetime(item)">
        </ion-datetime>
      </ion-item>
      <ion-item *ngIf="item.layout == 'layout_2' && item.type == 'label' && item.time == 'true' && isCustom == true">
        <ion-label>结束时间</ion-label>
        <ion-datetime placeholder="{{'PLEASE_SELECT_DATE' | translate}}" max="2100" displayFormat="YYYY-MM-D" [(ngModel)]="endDate"
          cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}"  (ionCancel)="clearEndDatetime(item)">
        </ion-datetime>
      </ion-item>
      <!-- 下拉选择 -->
      <ion-item *ngIf="item.type == 'select'">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-select [(ngModel)]="searchData[item.model]" (ionChange)="getInitData(item)" placeholder="{{'PLEASE_SELECT' | translate}}"
          multiple="{{item.category == 'multi'}}" cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}"
          interface="action-sheet">
          <ion-option *ngFor="let option of item.data" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- SearchBox -->
      <ion-item *ngIf="item.type == 'select_searchbox'">
        <ion-label fixed>{{item.control_label}}</ion-label>
        <ion-input class="searchbox-name" type="text" placeholder="{{'PLEASE_SELECT' | translate}}" [(ngModel)]="searchData[item.control_name + 'Name']"
          tappable (click)="searchboxSelect(item)" disabled="true"></ion-input>
      </ion-item>
      <!-- radio -->
      <ion-list *ngIf="item.type == 'radio' && item.category =='three' && item.data.length == 3" radio-group mode="md" [(ngModel)]="searchData[item.model]"
      style="display: flex;flex-direction: row;">
        <ion-item *ngFor="let option of item.data" mode="md" style="width:33%;flex-direction:row-reverse; text-align: right;">
          <ion-radio [value]="option.id" mode="md" (ionSelect)="changeRadio(option)"></ion-radio>
          <ion-label mode="md" style="text-align: left">{{option.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

  <ion-card *ngFor="let item of statisticsDate.components; let i = index">
    <!-- table -->
    <ion-item *ngIf="item.type == 'table' && item.align != 'true'" class="form-table-list cutom-table">
      <h2>{{item.content.label}}</h2>
      <div class="form-table-content">
        <table>
          <div class="form-table-head table-tr-first" id="form_table" style="position:fixed;display:block;z-index: 99;background: #fff;box-sizing: border-box;margin-left: -1px;">
              <tr *ngFor="let head of item.content.headers; let j = index">
                <td class="form-table-head" [innerHtml]="getSafeHtml(head.text)" style="width:105px;display: inline-block;word-break: break-all;word-wrap: break-word;"></td>
              </tr>
          </div>
          <tr *ngFor="let head of item.content.headers; let j = index" class="text_right">
            <td class="form-table-head" [innerHtml]="getSafeHtml(head.text)" style="width:105px;display: inline-block;word-break: break-all;word-wrap: break-word;visibility: hidden;"></td>
            <td *ngFor="let value of item.content.values">
              <span *ngIf="value[j].type == null" style="white-space:nowrap;">{{value[j]}}</span>
              <span *ngIf="value[j].type == 'filelist'">
                <div *ngFor="let file of value[j].values" (click)="downloadFile(file)" class="tablelist-file">
                  <icmp-file-type-image [fileType]="getFileType(file.name)"></icmp-file-type-image>
                  <span>{{file.name}}</span>
                </div>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </ion-item>

    <!-- -->
    <ion-item *ngIf="item.type == 'table' &&  item.align =='true'" class="form-table-list cutom-table">
      <h2>{{item.content.label}}</h2>
      <div class="form-table-content">
        <table>
          <div class="form-table-head table-tr-first" id="form_table" style="position:fixed;display:block;z-index: 99;background:#fff;box-sizing: border-box;margin-left: -1px;">
              <tr *ngFor="let head of item.content.headers; let j = index">
                <td class="form-table-head" [innerHtml]="getSafeHtml(head.text)" style="width:105px;display: inline-block;word-break: break-all;word-wrap: break-word;"></td>
              </tr>
          </div>
          <tr *ngFor="let head of item.content.headers; let j = index" class="text_right">
            <td class="form-table-head" [innerHtml]="getSafeHtml(head.text)" style="width:105px;display: inline-block;word-break: break-all;word-wrap: break-word;visibility: hidden;"></td>
            <td *ngFor="let value of item.content.values">
              <span *ngIf="value[j].type == null" style="white-space:nowrap;">{{value[j]}}</span>
              <span *ngIf="value[j].type == 'filelist'">
                <div *ngFor="let file of value[j].values" (click)="downloadFile(file)" class="tablelist-file">
                  <icmp-file-type-image [fileType]="getFileType(file.name)"></icmp-file-type-image>
                  <span>{{file.name}}</span>
                </div>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </ion-item>
    <!--  -->
    <!-- chart -->
    <div *ngIf="item.type == 'charts'">
      <ion-card-header>
        {{item.content.title}}
      </ion-card-header>
      <ion-card-content>
        <div id="chart_{{i}}" style="width: 100%" [style.height]="item.content.height"></div>
      </ion-card-content>
    </div>

    <!-- label layout1 -->
    <ion-item *ngIf="item.layout == 'layout_1' && item.type == 'label'" class="statisticsView-illustrate">
      <ion-label fixed>{{item.label}}</ion-label>
      <p item-right class="text-value">{{item.default}}</p>
    </ion-item>

    <!-- label layout2 -->
    <ion-item *ngIf="item.layout == 'layout_2' && item.type == 'label' && isCustom == false" class="statisticsView-illustrate">
      <h2>{{item.label}}</h2>
      <p class="textarea-value">
        <span [innerHtml]="item.default"></span>
      </p>
    </ion-item>
  </ion-card>
</ion-content>
