page-mac-address {
  .segment-background {
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 56px;
  }
  .submit-botton {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .content-gray-succ {
    .scroll-content {
      margin-top: 46px;
    }
  }
  .content-succ{
    margin: 20px auto;
    width: 200px;
  }
  .font-succ {
    font-size: 20px;
    color: #0079fa;
    text-align: center;
  }
  .button-raduis {
    border-radius: 20px;
  }
  .app-type-content {
    position: absolute;
    top: 11px;
    right: 16px;
  }
  .type-button {
    float: right;
    .item-button {
      position: relative;
      right: 0;
      bottom: -13px;
      margin: 0;
      padding: 0 10px;
      height: 24px;
      font-size: 1.3rem;
      border-radius: 20px;
      width: 65px;
    }
  }
  .hiddenSometing {
    width: calc(100% - 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

