<ion-header>
  <ion-navbar>
    <ion-title>{{'ADD_FRIEND' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-gray">
  <ion-searchbar placeholder="搜索" [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list *ngIf="searchInput" class="icmp-list-top-margin">
    <button *ngFor="let item of contactInfos" ion-item>
      <ion-avatar item-left>
        <img src="./assets/images/user.jpg">
      </ion-avatar>
      <h2>{{item.nickName}}</h2>
      <button ion-button item-end (click)="addFriend(item)">添加</button>
    </button>
  </ion-list>

</ion-content>