<ion-header>
  <ion-navbar>
    <ion-title>{{'ADD_FRIEND' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" clear (click)="searchUser()">
        <span>{{'SEARCH' | translate}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-gray">
  <ion-searchbar placeholder="{{'SEARCH' | translate}}" [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list *ngIf="searchInput" class="icmp-list-top-margin">
    <button *ngFor="let user of userList" ion-item>
      <ion-avatar item-left>
        <img *ngIf="!user.headImage" [src]="setWordHeadImage(user)">
        <img *ngIf="user.headImage" [src]=user.headImage (error)="setWordHeadImage(user)">
      </ion-avatar>
      <h2>{{user.nickName}}</h2>
      <button ion-button item-end (click)="addFriend(user)">添加</button>
    </button>
  </ion-list>

</ion-content>