<ion-header>
  <ion-navbar>
    <ion-title>{{'ADD_FRIEND' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-gray-new">
  <form>
    <ion-searchbar name="search" placeholder="{{'SEARCH' | translate}}" [formControl]="titleFilter">
    </ion-searchbar>
  </form>

  <ion-list class="icmp-list-top-margin">
    <button *ngFor="let user of userList" ion-item (click)="lookUserProfile(user)">
      <ion-avatar item-left>
        <img *ngIf="!user.headImageContent" [src]="setWordHeadImage(user)">
        <img *ngIf="user.headImageContent" [src]=user.headImageContent (error)="setWordHeadImage(user)">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <button class="clear-btn" clear *ngIf="user.status != null && user.status.code != null && user.status.code != '0'" ion-button
        item-end (click)="addFriend($event, user)">添加</button>
      <button class="clear-btn" clear disabled *ngIf="user.status != null && user.status.code != null && user.status.code == '0'"
        ion-button item-end color="dark">已添加</button>
    </button>
  </ion-list>

</ion-content>