page-user-info {
  .user-head-image-div {
    margin-bottom: 10px;
    background-color: #fff;
    height: 120px;
    display: flex;

    .user-head-image-div-img {
      flex: 1;
      min-width: 150px;
      max-width: 150px;

      img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px 20px 20px 50px;
      }
    }

    .user-head-image-div-content {
      flex: 1;
      margin-top: 18px;
      font-size: 1.2em;
    }
  }

  .item-ios [item-right] {
    margin: 0 8px 0 0;
  }
}
