<ion-header>
  <ion-navbar>
    <ion-title>{{'ADDRESS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <ion-searchbar [formControl]="titleFilter" placeholder="{{'SEARCH' | translate}}" [showCancelButton]="shouldShowCancel">
  </ion-searchbar>

  <ion-list class="icmp-list-bottom-margin">
    <button ion-item (click)="applyAndNotification()">
      <ion-avatar class="left-avatar" item-left>
        <img src="./assets/images/im/newFriends.png">
      </ion-avatar>
      {{'APPLY_AND_NOTIFICATION' | translate}}
    </button>
    <button ion-item (click)="addFriend()">
      <ion-avatar item-left>
        <img src="./assets/images/im/newFriends.png">
      </ion-avatar>
      {{'ADD_FRIEND' | translate}}
    </button>
    <button ion-item (click)="myGroup()">
      <ion-avatar item-left>
        <img src="./assets/images/im/group.png">
      </ion-avatar>
      {{'GROUP' | translate}}
    </button>
  </ion-list>

  <ion-list class="icmp-list-bottom-margin">
    <button *ngFor="let user of contactInfos | searchFilter: 'nickName': keyword" ion-item detail-none (click)="chatToUser(user)">
      <ion-avatar item-left>
        <img *ngIf="!user.headImage" src="./assets/images/user.jpg">
        <img *ngIf="user.headImage" [src]=user.headImage>
      </ion-avatar>
      <h2>{{user.nickName}}</h2>
    </button>
  </ion-list>

</ion-content>