page-address {

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: inherit;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: inherit;
  }

  .icmp-list-bottom-margin {
    .control-img {
      min-width: 30px;
      min-height: 30px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .list-avatar {
      border-radius: 50%;
      overflow: hidden;
    }

    .orgName {
      color: #999;
    }
  }
}
