<ion-header>
  <ion-navbar>
    <ion-title>{{'ADDRESS' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="addFriend()">
        <ion-icon name="add" style="font-size:26px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <ion-searchbar [formControl]="titleFilter" placeholder="{{'SEARCH' | translate}}">
  </ion-searchbar>

  <ion-list *ngIf="!hidTopItem" class="icmp-list-bottom-margin">
    <button ion-item (click)="applyAndNotification()">
      <ion-avatar class="left-avatar" item-left>
        <img src="./assets/images/im/newFriends.png">
      </ion-avatar>
      {{'APPLY_AND_NOTIFICATION' | translate}}
    </button>
    <button ion-item (click)="myGroup()">
      <ion-avatar item-left>
        <img src="./assets/images/im/group.png">
      </ion-avatar>
      {{'GROUP' | translate}}
    </button>
  </ion-list>

  <ion-list class="icmp-list-bottom-margin">
    <button *ngFor="let user of contactInfos | searchFilter: 'remark': keyword" ion-item detail-none (click)="lookUserProfile(user)">
      <ion-avatar item-left>
        <img *ngIf="!user.headImage" [src]="setWordHeadImage(user)">
        <img *ngIf="user.headImage" [src]=user.headImage (error)="setWordHeadImage(user)">
      </ion-avatar>
      <h2>{{user.remark}}</h2>
    </button>
  </ion-list>

</ion-content>
