page-mac-succ {
    .content-gray-succ {
        .scroll-content {
          margin-top: 46px;
        }
    }
    .content-succ{
        margin: 20px auto;
        width: 200px;
    }
    .font-succ {
        font-size: 20px;
        color: #0079fa;
        text-align: center;
    }
}  
  