<!-- <ion-header>
  <ion-navbar>
    <ion-title>{{'MORE' | translate}}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content class="content-gray-new">
  <div class="setting-content" [navPush]="userInfoPage">
    <div class="setting-content-blue"></div>
    <div class="setting-content-white">
      <p class="setting-content-name">{{userInfo?.userName}}</p>
      <p>{{'ACCOUNT' | translate}}：{{userInfo?.loginName}}</p>
    </div>
    <div class="setting-content-circle"></div>
    <div class="setting-content-img">
      <ion-avatar>
        <img *ngIf="userInfo.headImage" [src]=userInfo.headImage>
        <img *ngIf="!userInfo.headImage" src="./assets/images/user.jpg">
      </ion-avatar>
    </div>
  </div>

  <!--无关内容先屏蔽-->
  <!-- <ion-list>
    <button ion-item [navPush]="newsNoticePage">
      {{'NEW_NOTICE' | translate}}
    </button>
    <button ion-item [navPush]="safeAndPrivacyPage">
      {{'SAFE_AND_PRIVACY' | translate}}
    </button>
    <button ion-item [navPush]="generalPage">
      {{'GENERAL' | translate}}
    </button>
  </ion-list> -->

  <ion-list class="icmp-list-bottom-margin">
    <button id="e2e-checkversion" ion-item (tap)="checkVersion()">
      {{'CHECK_VERSION' | translate}}
      <span item-end>{{appVersionName}}</span>
    </button>
    <button id="e2e-aboutme" ion-item [navPush]="aboutPage">
      {{'ABOUT_US' | translate}}
    </button>
  </ion-list>

  <div padding>
    <button round id="e2e-logout-button" ion-button block (click)="logOut()">
      {{'LOGOUT' | translate}}
    </button>
  </div>
</ion-content>
