page-setPassword {
  .scroll-content {
    background-color: #F0F8FF !important;
  }
  .buttonRow {
    background-color: #F0F8FF !important;
  }
  .ion-ios-checkmark-circle {
    font-size: 50px !important;
    color: #0079fa !important;
  }
  .label-ios {
    text-align: center !important;
  }
  .topInfo {
    color: #fff;
    padding: 5px 10px;
    line-height: 19px;
    background-color: #0079fa;
  }
  .bottomInfo {
    font-size: 14px;
    color: #808080 ;
  }
  .sucsessInfo {
    color: #0079fa;
  }
  .passwordWrap {
    position: relative;
    .eyeIcon {
      font-size: 24px;
      position: absolute;
      top: 20%;
      right: 20px;
    }
  }
  .verificationCode {
    position: relative;
    .verificationCodeTxt {
      position: absolute;
      top: 20%;
      right: 20px;
      font-size: 18px;
      color: rgba(0,0,0,0.3);
    }
    .verificationCodeTxtActive {
      position: absolute;
      top: 20%;
      right: 20px;
      font-size: 18px;
      color: blue;
    }
  }

}