<ion-header>
  <ion-navbar>
    <ion-title>{{'FORGET_PASSWORD' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="topInfo">
    {{"SETPASSWORD_INFO" | translate}}
  </div>
  <div *ngIf="goPage" style="background-color: #F0F8FF">
      <ion-item item-start no-lines style="background-color: #F0F8FF">
        <div item-start>
            {{"COMPLTET_VERIFICATION" | translate}}
        </div>
      </ion-item>
      <ion-item no-lines>
        <ion-input clearInput="true" type="number" placeholder="请输入手机号" (ionChange)="changePhone(username)" [(ngModel)]="username"></ion-input>
      </ion-item>
      <div class="verificationCode">
        <ion-item style="margin-top: 1px" no-lines>
          <ion-input type="number" placeholder="请输入验证码" [(ngModel)]="email"></ion-input>
        </ion-item>
        <div *ngIf="getCode" [ngClass]="{'verificationCodeTxt': isActive, 'verificationCodeTxtActive': !isActive}" (tap)="getVerificationCode()">
          {{"GET_VERIFICATION" | translate}}
        </div>
        <div *ngIf="reSend" class="verificationCodeTxtActive" (tap)="sendVerificationCode()">
          {{"RESEND" | translate}}
          </div>
        <div *ngIf="isTime" class="verificationCodeTxtActive">
            {{time}}s
        </div>
      </div>
      <div class="passwordWrap">
        <ion-item style="margin-top: 1px" no-lines>
          <ion-input class="pas" *ngIf="showPassword" type="password" (input)="changePassword(newPassword)" placeholder="设置新的密码" [value]="newPassword"></ion-input>
          <ion-input class="pas" *ngIf="!showPassword" type="text" placeholder="设置新的密码" (input)="changePassword(newPassword)" [value]="newPassword"></ion-input>
        </ion-item>
        <div class="eyeIcon" (tap)="seePassword()">
            <ion-icon *ngIf="showPassword" [ngStyle]="{'color': changIconColor ? 'blue' : 'rgba(0,0,0,0.4)'}" ios="ios-eye-off" md="md-eye-off"></ion-icon>
            <ion-icon *ngIf="!showPassword" style="color: blue" ios="md-eye" md="md-eye"></ion-icon>
        </div>
      </div>
      <div padding>
        <button id="e2e-login-button" [disabled]="disable" ion-button block round color="primary" (tap)="submit()">
            {{'SUBMIT' | translate}}
        </button>
        <!-- <button ion-button ion-button block round disabled="true" color="danger">Light</button> -->
      </div>
  </div>
  <div *ngIf="!goPage" style="background-color: #F0F8FF">
      <ion-item no-lines>
          <ion-icon class="sucsessIcon" ios="ios-checkmark-circle"></ion-icon>
      </ion-item>
      <ion-item no-lines>
        <span class="sucsessInfo">{{"SETPASSWORD_SUCSESS" | translate}}</span>
      </ion-item>
      <ion-item no-lines>
          <span class="bottomInfo">{{"SETPASSWORD_NOTE" | translate}}</span>
        </ion-item>
        <div padding>
          <button id="e2e-login-button" ion-button block round color="primary" (tap)="goLogIn()">
              {{'KNOW_LOGIN' | translate}}
          </button>
        </div>
  </div>
</ion-content>