<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{'PERSONAL_INFO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <div class="user-head-image-div">
    <img *ngIf="!toUserInfo.headImage" [src]="setWordHeadImage()">
    <img *ngIf="toUserInfo.headImage" [src]=toUserInfo.headImage (error)="setWordHeadImage()">
  </div>
  <ion-list>
    <ion-item>
      {{'NAME' | translate}}
      <p item-right>{{toUserInfo?.nickName}}</p>
    </ion-item>
    <ion-item ion-item>
      {{'PHONE' | translate}}
      <p item-right>{{toUserInfo?.phone}}</p>
    </ion-item>
    <ion-item>
      {{'EMAIL' | translate}}
      <p item-right>{{toUserInfo?.email}}</p>
    </ion-item>
    <ion-item>
      {{'ACCOUNT' | translate}}
      <p item-right>{{toUserInfo?.userId}}</p>
    </ion-item>
    <ion-item>
      {{'SEX' | translate}}
      <p item-right>{{toUserInfo?.sexName}}</p>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="chatToUser()">
      {{'SEND_MESSAGE' | translate}}
    </button>
  </div>
</ion-content>