page-query-notice-detail {
  .notice-content {
    padding: 16px;
    background-color: #fff;
  }
  .notice-title {
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 1.3em;
  }
}
