page-proper {
  .proper-bg {
    background-image: url(/assets/images/proper.png);
    background-size: 100%;
  }

  .proper-logo {
    margin-top: 100%;
    margin-left: 7%;

    img {
      width: 60%;
    }

    .proper-content {

      p {
        text-align: left;
        margin: 8px 0;
        color: rgba(0, 0, 0, 0.87);
      }

      .proper-content-p {
        margin-top: 16px;
        color: #e33633;
      }
    }
  }
}
